.processSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.processSection .rosemaryImg {
  width: 300px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.processSection .rosemaryBottom {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.processSection .processSectionContainer {
  padding-top: 150px;
  padding-bottom: 250px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}
.processSection .processSectionContainer .processDetails {
  margin-right: 30px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.processSection .processSectionContainer .processDetails.centered {
  justify-content: center;
  width: 30%;
}
.processSection .processSectionContainer .processDetails .processTitle {
  font-size: 64px;
  font-weight: bold;
}
.processSection .processSectionContainer .processDetails .processDescription {
  color: #4D4D4D;
}
.processSection .processSectionContainer .processTitle {
  font-size: 88px;
}
.processSection .processSectionContainer .sliceProcess {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.processSection .processSectionContainer .sliceProcess .sliceProcessImg {
  width: 600px;
  height: auto;
}
.processSection .processSectionContainer .pickledProcess {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 50px;
}
.processSection .processSectionContainer .pickledProcess .pickledProcessImg {
  width: 500px;
  height: auto;
}
.processSection .processSectionContainer .bakeProcess {
  margin-top: -450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}
.processSection .processSectionContainer .bakeProcess .bakeProcessImg {
  width: 500px;
  height: auto;
}

@media (max-width: 1024px) {
  .processSection .processSectionContainer .sliceProcess {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .processSection .processSectionContainer .sliceProcess .sliceProcessImg {
    width: 50%;
  }
  .processSection .processSectionContainer .pickledProcess {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }
  .processSection .processSectionContainer .pickledProcess .pickledProcessImg {
    width: 50%;
  }
  .processSection .processSectionContainer .bakeProcess {
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    margin-top: 0;
  }
  .processSection .processSectionContainer .bakeProcess .bakeProcessImg {
    width: 50%;
  }
  .processSection .processSectionContainer .processDetails {
    width: 50%;
    text-align: left;
    align-items: flex-start;
  }
  .processSection .processSectionContainer .processDetails.centered {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .processSection .rosemaryImg,
  .processSection .rosemaryBottom {
    display: none;
  }
}
@media (max-width: 768px) {
  .processSection .processSectionContainer {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .processSection .processSectionContainer .processTitle {
    font-size: 48px;
  }
  .processSection .processSectionContainer .processDetails .processTitle {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .processSection .processSectionContainer {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .processSection .processSectionContainer .processTitle {
    font-size: 38px;
  }
  .processSection .processSectionContainer .processDetails .processTitle {
    font-size: 38px;
  }
  .processSection .processSectionContainer .processDetails .processDescription {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .processSection .processSectionContainer {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .processSection .processSectionContainer .processTitle {
    font-size: 26px;
  }
  .processSection .processSectionContainer .processDetails .processTitle {
    font-size: 26px;
  }
  .processSection .processSectionContainer .processDetails .processDescription {
    font-size: 10px;
  }
}

/*# sourceMappingURL=ProcessSection.css.map */
